.logo img{
    text-align: center;
    
    width: 300px;
    justify-content: center;
    margin-left: 5px;
    margin-right:100px;
    background-color: rgb(6,71,71);
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(6,71,71);
    padding-left: 5px;
    padding-right: 5px;
    padding: 0 0 0 0;
    border-radius: 20px 20px 0px 0px;
}
.logo button{
    background-color:rgb(6, 71, 71);
    color: rgbrgb(163, 76, 76);
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-right:50px;
}
.logo button:hover{
    background-color: rgb(19, 88, 88);
    color: #D4AF37;
}
.logo a{
    color: rgb(225, 225, 225);
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;}
.logo a:hover{
    background-color: rgb(6, 71, 71);
    color:#D4AF37;
}

.welcome {
    text-align: center;
    font-size: 30px;
    background-color: rgb(6, 71, 71);
    color: white;
    border-radius: 0px 0px 20px 20px;
}
.welcome p{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}
.section{
    color:#D4AF37;
    font-weight:bold;
    letter-spacing:2px;
    margin:20px 0px 0px 8px;
}
.products img {
    display: flex;
    justify-content: space-around;
    margin:20px 0px 3px 45px;
    width: 250px;
    border-radius: 15px;
}
.name{ display: flex;
    justify-content: space-around;
    margin:0px 0px 0px 50px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(6,71,71);
   
    color: white;}
.text{
    display;
    justify-content:center;
   
     margin:0px 0px 0px 50px;
    border-radius: 0px 0px 30px 30px;
    background-color: rgb(6, 71, 71);
    color: white;
}

.text:hover{
    background-color: rgb(6, 71, 71);
    color:#D4AF37;
}
.products{
   display: flex;
}
.text {
    
    display: flex;
}


